body {
	background: rebeccapurple;
  }
  
  h1,
  p {
	font-family: Lato;
  }
  
  .grid {
	display: grid;
	width: auto;
  
	grid-template-columns: repeat(var(--grid-size), 1fr);
	gap: 0;
  }
  
  .box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rebeccapurple;
	color: transparent;
	background: white;
	height: 0;
	padding-bottom: 100%;
  }
  
  .box-0 {
	background: rebeccapurple;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
  }
  .box-1 {
	border-right-color: transparent;
  }
  .box-2 {
	border-bottom-color: transparent;
  }
  .box-3 {
	border-right-color: transparent;
	border-bottom-color: transparent;
  }
  .box-4 {
	border-left-color: transparent;
  }
  .box-5 {
	border-right-color: transparent;
	border-left-color: transparent;
  }
  .box-6 {
	border-bottom-color: transparent;
	border-left-color: transparent;
  }
  .box-7 {
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
  }
  .box-8 {
	border-top-color: transparent;
  }
  .box-9 {
	border-right-color: transparent;
	border-top-color: transparent;
  }
  .box-10 {
	border-bottom-color: transparent;
	border-top-color: transparent;
  }
  .box-11 {
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
  }
  .box-12 {
	border-left-color: transparent;
	border-top-color: transparent;
  }
  .box-13 {
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
  }
  .box-14 {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
  }
  .box-15 {
	border-top-color: rgba(221, 197, 13, 0.801);
	border-right-color: rgba(221, 197, 13, 0.801);
	border-bottom-color: rgba(221, 197, 13, 0.801);
	border-left-color: rgba(221, 197, 13, 0.801);
	border-color: rgba(221, 197, 13, 0.801);
  }
  
  .player {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rebeccapurple;
	/* color: transparent; */
	background: red;
	height: 0;
	padding-bottom: 100%;
  }


/*/====retro style maze
  body {
	background: rebeccapurple;
  }
  
  h1,
  p {
	font-family: Lato;
  }
  
  .grid {
	display: grid;
	width: auto;
  
	grid-template-columns: repeat(var(--grid-size), 1fr);
	gap: 0;
  }
  
  .box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 10px solid #999;
	background: white;
	border-image: url("/wall.jpg") 55/2 1 1 1/0;
	height: 0;
	padding-bottom: 100%;
  }
  
  .box-0 {
	background: rebeccapurple;
	border-top: transparent;
	border-right: transparent;
	border-bottom: transparent;
	border-left: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-1 {
	border-right: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-2 {
	border-bottom: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-3 {
	border-right: transparent;
	border-bottom: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-4 {
	border-left: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-5 {
	border-right: transparent;
	border-left: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-6 {
	border-bottom: transparent;
	border-left: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-7 {
	border-right: transparent;
	border-bottom: transparent;
	border-left: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-8 {
	border-top: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-9 {
	border-right: transparent;
	border-top: transparent;
	
  }
  .box-10 {
	border-bottom: transparent;
	border-top: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-11 {
	border-right: transparent;
	border-bottom: transparent;
	border-top: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-12 {
	border-left: transparent;
	border-top: transparent;
	padding-bottom:60px;
	
  }
  .box-13 {
	border-right: transparent;
	border-left: transparent;
	border-top: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-14 {
	border-bottom: transparent;
	border-left: transparent;
	border-top: transparent;
	box-shadow: inset 0 15px #ccc;
  }
  .box-15 {
	border-top: transparent;
	border-right: transparent;
	border-bottom: transparent;
	border-left: transparent;
	background: black;
  }
  
  .player {
	display: block;
	justify-content: center;
	align-items: center;
	border: 2px solid rebeccapurple;
	color: transparent; 
	box-shadow: none;
	background: red;
	height:100%;
  } */